<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>코로나19 예방접종 사전예약 시스템</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Pragma" content="no-cache">

    <meta http-equiv="X-Content-Type-Options" content="nosniff">
    <meta http-equiv="X-Xss-Protection" content="1; mode=block">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

    <meta name="title" content="코로나19 예방접종 사전예약 시스템">
    <meta property="og:type" content="website">
    <meta property="og:title" content="코로나19 예방접종 사전예약 시스템">
    <meta property="og:site_name" content="코로나19 예방접종 사전예약 시스템">
    <meta property="og:description" content="코로나19 예방접종 사전예약 시스템">
    <meta property="og:url" content="https://ncvr2.kdca.go.kr">

    <script src="/js/login/jquery-3.5.1.min.js"></script>
    <script src="/js/login/jquery-ui.js"></script>
    <link rel="stylesheet" href="/stylesheets/login/ui_pack.css">

    <!-- #FAVICONS -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

    <!--[if lt IE 9]> -->
    
    <!-- <![endif]-->

<body>
<div class="wrapper">
  <!-- header -->
  

<html>
  <header>
    <a>질병관리청</a>
    <div class="title-logo">
      <span>코로나바이러스감염증-19 │ COVID-19</span>
      <p>코로나19 예방접종 사전예약 시스템</p>
    </div>
  </header>
</html>


    <div class="main-ready">
        <div class="main-visual">
            <div class="head-visual">
                <div>
                    <h2>
                       인증 서버 오류입니다.<br>다시 시도해 주세요.
                    </h2>
                </div>
                <!-- pass customizing message end-->
            </div><!-- //head-visual -->
        </div><!-- //main-visual -->

        <div class="btn-booking" id="btn_home" onclick="movePage()"><strong>본인인증<span>으로</span></strong>바로가기</div>
    </div>
  
  
</div>
<!-- footer -->



<html>
  <footer>
    <div class="footer">
      <h5>코로나19 예방접종 사전예약 시스템</h5>
      <div class="nuri"><img src="/images/nuri.png" alt="OPEN/출처표시/상업용금지/변경금지/공공누리 공공저작물 자유이용허락"></div>
      <address>(28159) 충북 청주시 흥덕구 오송읍 오송생명2로 187 오송보건의료행정타운내 질병관리청</address>
      <p class="copyright">COPYRIGHT © 2021 질병관리청 ALL RIGHTS RESERVED.</p>
    </div>
  </footer>
</html>

</body>

<script>
    function movePage(param) {
      var domainUrl = "http://localhost:3000";
      domainUrl = domainUrl + "/landing"

      location.href = domainUrl;
  }
</script>
