<!DOCTYPE html>
<html>
    <head>
        <title>로그아웃 테스트 페이지</title>
        <link rel='stylesheet' href='/stylesheet/style.css'/>
    </head>
    <body>
        <h1>Login / Logout Test</h1>

        <button type="button"><a href="<%=login%>">로그인 버튼</a></button>
        <button type="button"><a href="<%=logout%>">로그아웃 버튼</a></button>


    </body>
</html>