<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
    <title>코로나19 예방접종 사전예약 시스템</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Pragma" content="no-cache">

    <meta http-equiv="X-Content-Type-Options" content="nosniff">
    <meta http-equiv="X-Xss-Protection" content="1; mode=block">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

    <meta name="title" content="코로나19 예방접종 사전예약 시스템">
    <meta property="og:type" content="website">
    <meta property="og:title" content="코로나19 예방접종 사전예약 시스템">
    <meta property="og:site_name" content="코로나19 예방접종 사전예약 시스템">
    <meta property="og:description" content="코로나19 예방접종 사전예약 시스템">
    <meta property="og:url" content="https://ncvr2.kdca.go.kr">

	<!-- #FAVICONS -->
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/images/favicon.ico" type="image/x-icon">


  <script src="/js/login/jquery-3.5.1.min.js"></script>
  <script src="/js/login/common.js"></script>

  <script src="/js/netfunnel.js?v=1"></script>
  <link rel="stylesheet" href="/stylesheets/login/ui_pack.css" />

</head>

<body>
	<div class="wrapper">
    <!-- header -->
    

<html>
  <header>
    <a>질병관리청</a>
    <div class="title-logo">
      <span>코로나바이러스감염증-19 │ COVID-19</span>
      <p>코로나19 예방접종 사전예약 시스템</p>
    </div>
  </header>
</html>


		<div class="main-ready auth2">
		 <h2 class="auth-head">네이버 인증</h2>
		 <section class="-bg-white -border-top auth-wrapper">
		  <p class="auth-info"><em>네이버</em> 인증을 진행해 주세요.</p>
		  <p class="auth-info">네이버 로그인 후 인증을 완료할 수 있습니다.</p>

		  <div class="auth-step naver" style="text-align: center;">
		    <ol>
		      <li>
                <img src="/images/kakao_auth02.png">

		        <p class="step-text">STEP 01</p>
		        <p class="step-info"><em>네이버</em> 로그인<br>(로그인 전인 경우)</p>
		      </li>
		      <li>
            <img src="/images/naver_auth02.png">
		        <p class="step-text">STEP 02</p>
		        <p class="step-info"><em>네이버</em> 로그인<br>인증 요청 확인</p>
		      </li>
		    </ol>
		  </div>
      <div class="action-btn-wrapper">

      <form action="/naverlogin" method="post" enctype="multipart/form-data">
        <button type="submit" name="button" id="auth_req" class="-btn primary-">인증 요청</button>
      </form>
    </div>
             <!--<div id="naverIdLogin" style="display:none;"><a id="naverIdLogin_loginButton" role="button"><img src="https://static.nid.naver.com/oauth/big_g.PNG" height=60></a></div>-->
		 </section>
		</div>


	</div>
  <!-- footer -->
  
<html>
  <footer>
    <div class="footer">
      <h5>코로나19 예방접종 사전예약 시스템</h5>
      <div class="nuri"><img src="/images/nuri.png" alt="OPEN/출처표시/상업용금지/변경금지/공공누리 공공저작물 자유이용허락"></div>
      <address>(28159) 충북 청주시 흥덕구 오송읍 오송생명2로 187 오송보건의료행정타운내 질병관리청</address>
      <p class="copyright">COPYRIGHT © 2021 질병관리청 ALL RIGHTS RESERVED.</p>
    </div>
  </footer>
</html>


</body>
<script>
    

</script>

</html>

